.header {
  width: 100%;
  background: cadetblue;
}

.header ul {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  height: 4rem;
}

.header li {
  list-style: none;
  color: #ffffff;
  font-size: 1.3rem;
}
